/* Global styles for the page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.quiz-scores {
    position: absolute;
    top: 200px;
    right: 25px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

#leaderboard-box {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#lessons-box {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#settings-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007BFF;
    color: white;
}

@media (max-width: 768px) {
    section {
        margin: 10px;
        padding: 10px;
    }
}
