 form{
    text-align: left;
   list-style: none;
    height: 80%;
    margin-bottom: 20% ;
    background-color: darksalmon;
    padding: 20px;
    box-shadow:cadetblue 1ex;
}
.firstname{
    margin: 1ex;
}