
html {
    background-color: white; 
  }
  body {
    margin: 0em; 
    padding: 0; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em;
  }
  h1 {
    font-size: 3em;
    margin: 0;
    text-align: center;
  
   
  }
  /*Head section style*/
  /*Style for header*/
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:nowrap;
    margin: 1rex;
    padding: 10px 20px;
    background-color: rgb(213, 107, 162);
    color:#ffffff
   
}
.button-container {
  display: flex;
  align-items: center;
}
.login-button, .signup-button{
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;

}
.signup-button{
  background-color:rgb(76, 192, 196);
}

.signup-button:hover {
  background-color: #0056b3;
}

/*styling for Our Goal Section*/
.Goal{
  text-align: center;
  padding: 1em 1em;
  background-color:rgb(136, 239, 241);

}
.get-started-button{
  display: inline-block;
  padding: 10px 20px;
  background-color: #3267e3; /* Button background color */
  color: #fff; /* Text color */
  text-decoration: none; /* Remove underline for links */
  border: none; /* Remove button border */
  border-radius: 25px; /* Rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease;
}
.get-started-button:hover {
  background-color: #0956a9; /* Change background color on hover */
}

.lessons{
  text-align: center;
}
.lessons ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 1em;
  list-style: none;
}
/* Style for the list items */
.lessons li {
  text-align: center;
  background-color: #ffffff; /* Set background color */
  border-radius: 5%; /* Create circular square */
  padding: 2%; /* Add padding to wrap text inside */
  margin: 5px 0; /* Add spacing between items */
  border: 1pt solid black; 
  margin-right: 10px;
}
.lessons ul li p{
  color:darkcyan;
  font-size:large;
  
}
#homeFooter {
    
    background: #262626;
    text-align: center;
    color: white;
    padding: 0%;
     

  }

#ConnectFooter ul{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 1em;
    list-style: none;
    }

#ConnectFooter li{
    
    margin: 0 10px;
}

  