/**/

/*Main Style for entire quiz page. Contains all subgroups of elements*/
#contentSection{
  display: flex;
  flex-direction:column;
  flex-wrap:nowrap;
  margin: 1em;
  padding: 10px;
  background-color: lightblue;
  width: 75%;
  align-self: center;
  justify-content: center;
  max-width: 750px;
  min-width: 400px;
}

/*General style for the 3 distinct blocks of elements in the quiz page.
The 3 blocks include: QuestionSection, SampleSection, and AnswerSection*/
.quizBlock {
  align-self: center;
  justify-self: center;
  width: 90%;
  margin: 1em;
  padding: 1em;
  background-color: bisque;
}

/*Creates background style for questionSection*/
#questionSection {
  background-color: #FFFDFD;
  border-radius: 15px;
}

/*Aligns the text to be centered within the questionSection block*/
#questionSection h1{
  font-size: 3em;
  text-align: center;
}

/*Creates background style for sampleSection and aligns all elements to the center of the block*/
#sampleSection {
  background-color: #FFFDFD;
  border-radius: 15px;
  align-items: center;
  text-align: center;
}

/*Limits the image element within the sampleSection block to the maximum width of the block*/
#sampleSection img {
  width: 100%;
}

/*Creates background style for answerSection and initialized a grid display for the 4 answer elements*/
#answerSection {
  background-color: #FFFDFD;
  border-radius: 15px;
  display: grid;
}

/*Creates the general style for the 4 distinct answer elements*/
.answerBlock {
  margin: 1em;
  font-size: 16px;
  text-align: center;
  background-color: coral;
  border-radius: 15px;
  color: white;
}

/*Sets the location for the answerSection block on the grid*/
#answerSection #answer1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

/*Sets the location for the answerSection block on the grid*/
#answerSection #answer2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

/*Sets the location for the answerSection block on the grid*/
#answerSection #answer3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

/*Sets the location for the answerSection block on the grid*/
#answerSection #answer2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}


@media screen and (min-width: 720px) {
  

  }