.ChnagePass-Button{
    background-color: rgb(200, 238, 200);
}
.ChnagePass-Button:hover{
    background-color: rgb(170, 253, 170);
}
/*Style For Update button Button*/
.Update-Butoon{
    margin: 1em;
    border-radius: 5%;
    border-color: black;
    background-color: rgba(126, 208, 231, 0.962);
    box-shadow:0 0 10px #235ca6;
    font-size: larger;
    width: 95%;
    height: 4.2%;
    min-height: 20px;
}
.Update-Butoon:hover{
    background-color: rgb(81, 158, 241);
}