<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>About Us</title>
    [
    <meta name="author" content="Fahmida">
    {% load static %}
    <script type="text/javascript" src="{ % static 'js/menu_table.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <script src="{% static 'js/https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js' %}"></script>
      <script src="{% static 'js/https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <![endif]-->
    <script>
        function edit_row(no)
{
 document.getElementById("edit_button"+no).style.display="none";
 document.getElementById("save_button"+no).style.display="block";

 var item=document.getElementById("item_row"+no);
 var condition=document.getElementById("condition_row"+no);
 var amount=document.getElementById("amount_row"+no);

 var item_data=item.innerHTML;
 var condition_data=condition.innerHTML;
 var amount_data=amount.innerHTML;

 item.innerHTML="<input type='text' id='item_text"+no+"' value='"+item_data+"'>";
 condition.innerHTML="<input type='text' id='condition_text"+no+"' value='"+condition_data+"'>";
 amount.innerHTML="<input type='text' id='amount_text"+no+"' value='"+amount_data+"'>";
}

function save_row(no)
{
 var item_val=document.getElementById("item_text"+no).value;
 var condition_val=document.getElementById("condition_text"+no).value;
 var amount_val=document.getElementById("amount_text"+no).value;

 document.getElementById("item_row"+no).innerHTML=item_val;
 document.getElementById("condition_row"+no).innerHTML=condition_val;
 document.getElementById("amount_row"+no).innerHTML=amount_val;

 document.getElementById("edit_button"+no).style.display="block";
 document.getElementById("save_button"+no).style.display="none";
}

function delete_row(no)
{
 document.getElementById("row"+no+"").outerHTML="";
}

function add_row()
{
 var new_item=document.getElementById("new_item").value;
 var new_condition=document.getElementById("new_condition").value;
 var new_amount=document.getElementById("new_amount").value;

 var table=document.getElementById("data_table");
 var table_len=(table.rows.length)-1;
 var row = table.insertRow(table_len).outerHTML="<tr id='row"+table_len+"'><td id='item_row"+table_len+"'>"+new_item+"</td><td id='condition_row"+table_len+"'>"+new_condition+"</td><td id='amount_row"+table_len+"'>"+new_amount+"</td><td><input type='button' id='edit_button"+table_len+"' value='Edit' class='edit' onclick='edit_row("+table_len+")'> <input type='button' id='save_button"+table_len+"' value='Save' class='save' onclick='save_row("+table_len+")'> <input type='button' value='Delete' class='delete' onclick='delete_row("+table_len+")'></td></tr>";

 document.getElementById("new_item").value="";
 document.getElementById("new_condition").value="";
 document.getElementById("new_amount").value="";
}
        </script>
<style>
    .about-bg{
        background-color: #0c5460;
    }
    html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  margin: 8px;
}


.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
    color: black;
}
.team {
    align-items: center;
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.wrapper_tab{
display: 100%;
}
.button1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #CF9695;
  background-color: #CF9695;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button1:hover {
opacity: 40%;
}

}

</style>
</head>
<!-- body -->

<body class="main-layout">
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo"> <a href="{% url 'index' %}"><img src="{% static 'images/logo4.jpg' %}" alt="logo"></a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li class="active"> <a href="{% url 'index' %}">Home</a> </li>
                                        <li> <a href="{% url 'about' %}">About us</a> </li>
                                        <li> <a href="{% url 'why' %}"> Why?</a> </li>
                                        <li> <a href="{% url 'cont' %}">Contact us</a> </li>
                                        {% if user.is_authenticated %}
                                        <!-- login -->

                                        <li>  <a href="{% url 'logout' %}">Logout</a> </li>
                                        <li>  <a href="{% url 'proPage' %}">Profile</a></li>
                                        {% else %}
                                        <li> <a href="{% url 'login' %}">Login </a> </li>
                                        {% endif %}
                                        <li class="mean-last"> <a href="#"><img src="{% static 'images/search_icon.png' %}" alt="#" /></a> </li>
                                        {% if user.is_authenticated %}
                                        <li class="mean-last"><img src="{{user.profile_pic.url}}" width="100" height="100"> </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>


<div id="wrapper" class="wrapper_tab">
<h1 style="text-align: center;">
    <img src='https://www.thegoldenpig.com/site/assets/files/custom/menu_header_nopig.png'>
</h1>
    <table align='center' cellspacing=2 cellpadding=5 id="data_table" border=1>
<tr>
<th>Item</th>
<th>Condition</th>
<th>Amount</th>
<th>Actions</th>
</tr>

<tr id="row1">
<td id="item_row1">Pizza<br> <img src="https://media.istockphoto.com/photos/tasty-pepperoni-pizza-and-cooking-ingredients-tomatoes-basil-on-black-picture-id1083487948?k=6&m=1083487948&s=612x612&w=0&h=lK-mtDHXA4aQecZlU-KJuAlN9Yjgn3vmV2zz5MMN7e4=" style="height: 100px; width: 150px;"></td>
<td id="condition_row1">Good</td>
<td id="amount_row1">10</td>
<td>
<input type="button"class=button1 id="edit_button1" value="Edit" class="edit" onclick="edit_row('1')">
<input type="button" class=button1 id="save_button1" value="Save" class="save" onclick="save_row('1')">
<input type="button" class=button1 value="Delete" class="delete" onclick="delete_row('1')">
</td>
</tr>

<tr id="row2">
<td id="item_row2">Pasta<br><img src="https://images.immediate.co.uk/production/volatile/sites/2/2018/11/OnePotPasta-47b5b0a.jpg?quality=45&resize=768,574" style="height: 100px; width: 150px;"</td>
<td id="condition_row2">Ok</td>
<td id="amount_row2">26</td>
<td>
<input type="button" class=button1 id="edit_button2" value="Edit" class="edit" onclick="edit_row('2')">
<input type="button" class=button1 id="save_button2" value="Save" class="save" onclick="save_row('2')">
<input type="button"class=button1 value="Delete" class="delete" onclick="delete_row('2')">
</td>
</tr>

<tr id="row3">
<td id="item_row3">Fruits<br><img src="https://www.thespruceeats.com/thmb/qlT2neuIBeMYNR4w0K_GR-e2wZ4=/1885x1414/smart/filters:no_upscale()/Fruitsalad-GettyImages-811628388-5a0b1547482c5200372ddcd9.jpg" style="height: 100px; width: 150px;"</td>
<td id="condition_row3">Perfect</td>
<td id="amount_row3">19</td>
<td>
<input type="button" class=button1 id="edit_button3" value="Edit" class="edit" onclick="edit_row('3')">
<input type="button" class=button1 id="save_button3" value="Save" class="save" onclick="save_row('3')">
<input type="button" class=button1 value="Delete" class="delete" onclick="delete_row('3')">
</td>
</tr>

<tr>
<td><input type="text" id="new_item" ></td>
<td><input type="text" id="new_condition" ></td>
<td><input type="text" id="new_amount" > </td>
<td><input type="button" class=button1 class="add" onclick="add_row();" value="Add Row"></td>
</tr>

</table>
</div>
 <!-- end about -->
<footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="JJcoach">
                            <h3>LeftOver <strong class="coa"> </strong></h3>
                        </div>

                    </div>


                </div>
                <div class="row pdn-top-30">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                        <ul class="location_icon">
                            <li> <img src="{% static 'icon/location.png' %}"> <span>Detroit, Michigan<br>United States</span></li>


                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                        <ul class="location_icon">
                            <li> <img src="{% static 'icon/tellephone.png' %}"><span>(313)-(00)-(0000)<br>+0000000000</span></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                        <ul class="location_icon">
                            <li> <img src="{% static 'icon/email.png' %}"><span>TheLeftOvrs4111@gmail.com<br>TheLeftOvrs4111@gmail.com</span></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                        <ul class="location_icon">
                            <li> <a href="https://www.facebook.com/"><img src="{% static 'icon/facebook.png' %}"></a></li>
                            <li> <a href="https://twitter.com/?lang=en"><img src="{% static 'icon/Twitter.png' %}"></a></li>
                            <li> <a href="https://www.linkedin.com/home"><img src="{% static 'icon/linkedin.png' %}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>Copyright 2020 All Right Reserved By <a href="#">LeftOvr Inc.</a></p>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>

    <!-- sidebar -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>
