/**/

/*Main Style for entire quiz page. Contains all subgroups of elements*/
#contentSection{
  display: flex;
  flex-direction:column;
  flex-wrap:nowrap;
  margin: 1em;
  padding: 10px;
  background-color: lightblue;
  border-radius: 15px;
  width: 75%;
  align-self: center;
  justify-content: center;
  max-width: 750px;
  min-width: 400px;
}

/*General style for the 3 distinct blocks of elements in the quiz page.
The 3 blocks include: QuestionSection, SampleSection, and AnswerSection*/
#resultsSection {
  align-self: center;
  justify-self: center;
  width: 90%;
  margin: 1em;
  padding: 1em;
  background-color: #FFFDFD;
  border-radius: 15px;
}

/*Creates background style for questionSection*/
#resultsSection h2{
  font-size: 2em;
  text-align: center;
}

/*Aligns the text to be centered within the questionSection block*/
#resultsSection h1{
  font-size: 4em;
  text-align: center;
}

/*Creates background style for answerSection and initialized a grid display for the 4 answer elements*/
#answerSection {
  background-color: #FFFDFD;
  border-radius: 15px;
  display: grid;
}

/*Creates the general style for the 4 distinct answer elements*/
.returnBlock {
  margin: 1em;
  font-size: 16px;
  text-align: center;
  background-color: coral;
  border-radius: 15px;
  color: white;
}

.returnBlock a, a:link, a:visited {
  text-decoration: none;
  color: white;
  text-transform: none;
}


.returnBlock:hover {
  background-color:indianred;
}

@media screen and (min-width: 720px) {
  

  }