
/*THIS IS DEFAULT STYLE FOR DEVICE OF MAXIMUM 440px width*/
a{
  font-size: 16px;
  text-transform: uppercase;
}

#logo {
  width: 40px;
  margin: 10px;
  padding: 10px;
  float: left;
  background-color: white;
  border-radius: 100%;
  background-size: cover;
}


.nav-area{
  background: #262626;
}

.nav-area::after{
  content: ' ';
  clear: both;
  display: block;
}

.nav-area ul {
  list-style: none;
  margin: 0;
}

.nav-area > ul > li{
  float: left;
  position: relative;
}

.nav-area ul li a {
  text-decoration: none;
  color: #fff;
  padding: 30px 20px;
  display: block;
}

.nav-area ul li:hover a {
  background: #34495a;
}

.nav-area ul ul {
  position: absolute;
  padding: 0;
  min-width: none;
  display: none;
  top: 100%;
  right: -10%;
}

.nav-area ul li:hover > ul {
  display: block;
}

.nav-area ul ul li:hover a{
  background: #262626;
}

.nav-area ul ul li {
  position: left;
}

.nav-area ul ul li {
  top: 0;
  right: 100%;
}
