 html{
    min-height: 100vh;
  color:rgb(34, 0, 255);
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  background-color: rgb(23, 49, 155);
 }

 header{
    text-align: center; 
    text-shadow: 0 0 15px rgb(81, 153, 54);
 }
 footer{
    text-align: center;
}

body{
    min-height: 100vh; 
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
    text-wrap:wrap;
    /*Adding a background image*/
    background-image: url(/assets/Home-Backgrounf-Image.jpg);
    background-size: cover; /*image will cover the whole body part*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.backButton{
	margin: 1em;
    border-radius: 5%;
    border-color: black;
    background-color: rgba(126, 208, 231, 0.962);
    box-shadow:0 0 10px #235ca6;
    font-size: larger;
    width: 95%;
    height: 4.2%;
    min-height: 20px;
}
.Update-Button{
	margin: 1em;
    border-radius: 5%;
    border-color: black;
    background-color: rgba(126, 208, 231, 0.962);
    box-shadow:0 0 10px #235ca6;
    font-size: larger;
    width: 95%;
    height: 4.2%;
    min-height: 20px;
}

 form{
    text-align: left;
    list-style: none;
    padding: 10px;
    padding-left: 0;
    box-shadow:0 0 10px #102747;
    background-color: rgba(6, 95, 136, 0.758);
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
   
}

.Personal-Infomation li{
    list-style: none;
}
/*Style for input textbox*/
input[type="text"]{
    width: 95%;
    height: 4.2%;
    min-height: 20px;
    font-size: 16px;
    padding: 5px;
    border: 2px solid black;
    color:rgb(6, 4, 5); /*text color inside the box*/
}


/*Text color changes for invalid input int eh case of Existing image*/
input.invalid{
    color: brown;
}
.Prefferences li{
    list-style: none;
}

/*Style For Submit Button*/
.Submit-Butoon{
    color: aliceblue;
    margin: 1em;
    border-radius: 5%;
    border-color: #000000;
    background-color: rgb(28, 66, 220);
    box-shadow:0 0 10px #235aa6;
    font-size: larger;
    width: 95%;
    height: 4.2%;
    min-height: 20px;
}
.Submit-Butoon:hover{
    background-color: rgb(40, 92, 246);
}
/*Style For Reset Button*/
.Reset-button{
    margin: 1em;
    border-radius: 5%;
    border-color: black;
    background-color: rgba(126, 208, 231, 0.962);
    box-shadow:0 0 10px #235ca6;
    font-size: larger;
    width: 95%;
    height: 4.2%;
    min-height: 20px;
}
.Reset-button:hover{
    background-color: rgb(81, 158, 241);
}
